body {
  margin: 0;
  margin-left: 240px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("../public/keyboard.jpg"); */
}

.forButton{
  z-index:20;
  transition:all 0.8s;
}

footer{
  position:fixed;
  width: 100%;
  top:auto;
  bottom: 0;
}

.gradient{
    background: linear-gradient(
        to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spacing{
  margin: 3rem auto auto auto;
}

.drop-style{
  position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;
}

.dis-login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.width{
  width: 100%;
  display: flex; 
  justify-content: center;
}

.medium-heading {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
  /* width: 80%; */
}

