body {
    /* fallback for old browsers */
    background: #6a11cb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }

.accent{
    color: #00affa;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.align-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes onAutoFillStart { from {} }
@keyframes onAutoFillCancel { from {} }

input:-webkit-autofill {
    animation-name: onAutoFillStart;
}

input:not(:-webkit-autofill) {
    animation-name: onAutoFillCancel;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    color: white ; /* Ensures overriding any other styles */
    caret-color: white ; /* Ensures the text cursor color is also white */
}






